// @import "./styles/example.scss";

// #main {
//   color: $color2;
// }

* {
  box-sizing: border-box;
}

body {
  background: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.header {
  position: relative;
  width: 720px;
  height: 50px;
  margin: 0 auto;
  outline: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.fa-brands {
  color: white;
  padding: 5px;
}

h1 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.mute-btn {
  background-color: white;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 30px;
  outline: 2px solid black;
  outline-offset: -4px;
}

.game-container {
  position: relative;
  width: 240px;
  height: 160px;
  margin: 0 auto;
  outline: 1px solid white;

  transform: scale(3) translateY(40%);
}

.game-container canvas {
  position: fixed;
  image-rendering: pixelated;
}

#title {
  position: fixed;
  display: block;
  width: 240px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  image-rendering: pixelated;
  padding: 10px;
}

#title h2 {
  color: maroon;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

#instructions {
  background-color: black;
  position: fixed;
  display: block;
  width: 240px;
  height: 160px;
  outline: 1px solid white;
  outline-offset: -6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  font-family: 'Press Start 2P', cursive;
}

#instructions h2 {
  color: maroon;
  font-size: 10px;
}

#instructions p {
  color: white;
  font-size: 4px;
  line-height: 1.5;
  margin-right: 5px;
  margin-left: 5px;
}

#ready {
  position: fixed;
  display: none;
  width: 240px;
  height: 160px;
  color: maroon;
}

#ready h2 {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  text-shadow: 2px 2px 4px black;
  font-family: 'Press Start 2P', cursive;
}

#ready h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -26px;
  text-shadow: 2px 2px 4px black;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}

#win {
  background-color: none;
  position: relative;
  display: none;
  width: 240px;
  height: 160px;
  outline: 1px solid white;
  font-family: 'Press Start 2P', cursive;
  image-rendering: pixelated;
  background-size: 240px 160px;
}

#win h2 {
  color: maroon;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 20px;
  
}

#win p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 90px;
  font-size: 8px;
}

#lose {
  background-color: none;
  position: fixed;
  display: none;
  width: 240px;
  height: 160px;
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  image-rendering: pixelated;
}

#lose h2 {
  color: maroon;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
}

#lose p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 8px;
}