// @import "./styles/example.scss";

// #main {
//   color: $color2;
// }

* {
  box-sizing: border-box;
}

body {
  background: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1 {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

.game-container {
  position: relative;
  width: 240px;
  height: 160px;
  margin: 0 auto;
  margin-top: 20px;
  outline: 1px solid white;

  transform: scale(3) translateY(50%);
}

.game-container canvas {
  position: fixed;
  image-rendering: pixelated;
}

// .splash-page {
//   background-color: dimgray;
//     // background-color: none;
//     position: fixed;
//     display: block;
//     width: 240px;
//     height: 160px;
//     margin: 0 auto;
//     outline: 1px solid white;
// }

#title {
  background-color: dimgray;
  // background-color: none;
  position: fixed;
  display: block;
  width: 240px;
  height: 160px;
  margin: 0 auto;
  outline: 1px solid white;
}

#title h1 {
  color: maroon;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#instructions {
  background-color: dimgray;
  // background-color: none;
  position: fixed;
  display: block;
  width: 240px;
  height: 160px;
  margin: 0 auto;
  outline: 1px solid white;
}

#instructions h1 {
  color: maroon;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#ready {
  // background-color: dimgray;
  background-color: none;
  position: fixed;
  display: none;
  width: 240px;
  height: 160px;
  margin: 0 auto;
  outline: 1px solid white;
}

#ready h1 {
  color: maroon;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 55px;
  text-shadow: 2px 2px 4px black;
  font-family: "Lucida Console", "Courier New", monospace;
}

#win {
  background-color: dimgray;
  // background-color: none;
  position: relative;
  display: none;
  width: 240px;
  height: 160px;
  margin: 0 auto;
  outline: 1px solid white;
}

#win h1 {
  color: maroon;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#lose {
  background-color: dimgray;
  // background-color: none;
  position: fixed;
  display: none;
  width: 240px;
  height: 160px;
  margin: 0 auto;
  outline: 1px solid white;
}

#lose h1 {
  color: maroon;
  display: flex;
  justify-content: center;
  padding: 10px;
}